<div class="row">
  <div class="col-md-3">
    <h3><%= @patient_count %> <small>patients</small></h3>
  </div>
  <div class="col-md-3">
    <h3><%= @doctor_count %> <small>doctors</small></h3>
  </div>
  <div class="col-md-3">
    <h3><%= @consultation_count %> <small>consultations served</small></h3>
  </div>
  <div class="col-md-3">
    <h3><%= @request_count %> <small>consultations requested</small></h3>
  </div>
</div>
