<div class="media">
  <div class="pull-left">
    <img class="media-object img-circle"
         {{bind-attr src="avatarUrl" style="imgStyle"}}>
  </div>

  <div class="media-body">
    {{yield}}
  </div>
</div>
