<div class="modal fade in" {{action 'close'}}>
  <div class="modal-dialog" {{action bubbles=false}}>
    <div class="modal-content">
      {{yield}}
    </div>
  </div>
</div>
<div class="modal-backdrop in"></div>
