{{#unless cameraAccessError}}
  <div class="videos">
    <div id="video-self"></div>
    <div id="video-mate"></div>
  </div>
{{else}}
  <h3>Access to camera denied</h3>

  <p>
    It looks like you have denied medberry access to your camera.
    If you denied access to camera accidentaly, try reloading the page.
  </p>
{{/unless}}
