<div>
  {{#link-to 'doctors' class="btn btn-primary"}}Talk to a doctor{{/link-to}}
</div>

{{#if favoriteDoctors}}
  <h4>Favorite doctors</h4>

  <div class="row">
    {{each favoriteDoctors itemController='doctor_card' itemView='doctor_card'}}
  </div>
{{/if}}
