<div class="container">
  {{#if pusherError}}
    <div class="alert alert-danger">
      There was an error establishing real-time connection with the
      server. Please, try reloading the page.
    </div>
  {{/if}}

  {{#if showNav}}
    {{render 'nav'}}
  {{/if}}

  {{outlet}}
</div>

{{outlet modal}}
