<h2>
  Doctors

  <small class="selector">
    {{#link-to (query-params practice=false)}}All{{/link-to}} /
    {{#link-to (query-params practice="family")}}family doctors{{/link-to}} /
    {{#link-to (query-params practice="pharmacist")}}pharmacists{{/link-to}}

    <label>
      {{input type="checkbox" checked=online}}
      only show available doctors
    </label>
  </small>
</h2>

{{#if filteredContent}}
  <div class="row">
    {{each filteredContent itemController='doctor_card' itemView='doctor_card'}}
  </div>
{{else}}
  <p>There are no doctors matching the specified criteria.</p>
{{/if}}
