<h2>Doctors</h2>

<div class="row">
  {{#each}}
    <div class="col-lg-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Dr. {{fullName}}</h3>
          <h6>Family doctor</h6>

          <a href="#" class="btn btn-success" {{action 'createRequest' this}}>Call now</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
