/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

%text-like-link {
  color: #000;
  text-decoration: none;
  cursor: default;
}

.star {
  @extend %text-like-link;
  color: #e6d600;

  &:hover {
    color: #fff01a;
    text-decoration: none;
  }
}

.dot-offline {
  color: #aaa;
}

.dot-online {
  color: #7ec700;
}

.selector {
  a.active {
    @extend %text-like-link;

    &:hover {
      @extend a.active;
    }
  }

  label {
    padding-left: 1em;
    font-weight: normal;
    font-size: 0.75em;
  }
}

.doctor-card {
  img {
    max-width: 55%;
  }

  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.modal {
  display: block;
}

#video-mate {
  background-color: #999;
  border-radius: 10px;
}

#video-self {
  background-color: #666;
  border-radius: 10px;
}

#video-mate video, #video-self video {
  border-radius: 10px;
}
